/* Grants Logo */
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

/* norma text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.grant-main {
  width: 100%;
}

.grant-submain {
  padding: 2.5rem;
  background: rgba(153, 69, 255, 0.24);
  border-radius: 6.875rem 0rem 0rem 6.875rem;
  margin-left: 3rem;
}

.background-graphic-upper {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-image: url(/images/bg-graphic-upper.svg);
  box-shadow: 0px 11px 25px 10px #0b0f0f;
}

.grant-submain input {
  border-radius: 6.875rem;
  border: 1px solid #D8D8D8;
  padding: 5px 7px;
  color: black;
  letter-spacing: -0.09px;
  outline: none;
  height: 40px;
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 246px;
  height: 32px;
  left: 319px;
  top: 119px;
  background: #F5F5F5;
  border-radius: 10px;
}

.maingrantbox {
  position: relative;
  width: 38.125rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px soild grey;
  border-radius: 1rem;
  background: #000000;
  height: 39.438rem;
}

.maingrantbox .cross {
  position: absolute;
  top: -17px;
  background: white;
  color: black;
  padding: 5px 10px;
  border-radius: 9px;
  right: -13px;
}

.grantname {
  font-weight: 500;
  font-size: 22px;
}

.grantsub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grantbuttonname {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #0D0D0D;
}

.popUpGrant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}

.maingrantbox .cross {
  position: absolute;
  background: #00ff91;
  color: black;
  padding: 2px 10px;
  border-radius: 15px;
  right: 1px;
  top: 1px;
}

.modal-box {
  max-width: 37rem !important;
}

@media screen and (max-width: 768px) {
  .modal-box {
    width: 20rem;
    height: 525px;
  }
  .modal h1 {
    font-size: 10px;
  }
  .grant-submain {
    width: 17rem;
  }
  .grantname {
    font-weight: 500;
    font-size: 10px;
  }
  .grantinput {
    font-size: 8px;
  }
  .btn {
    width: 126px;
  }
  .btn-circle {
    width: 34px;
  }
  .grant-submain input {
    width: 100px;
    height: 32px;
  }
}